src/main/resources/docaposte/Documents.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="documentTarget" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://sei.ws.fast.cdc.com/" name="CXFDocumentServiceService" targetNamespace="documentTarget">
  <wsdl:import location="DocumentService.wsdl" namespace="http://sei.ws.fast.cdc.com/">
    </wsdl:import>
  <wsdl:binding name="CXFDocumentServiceServiceSoapBinding" type="ns1:DocumentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMultiIdsSmsUrl">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMultiIdsSmsUrl">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMultiIdsSmsUrlResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSMSHistory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSMSHistory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSMSHistoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadChorus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downloadChorus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadChorusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadOnDemand">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadOnDemand">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadOnDemandResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rawdelete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="rawdelete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rawdeleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFdc">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFdc">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFdcResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRemainingChorus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listRemainingChorus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listRemainingChorusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCircuits">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCircuits">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCircuitsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRefusalMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRefusalMessage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRefusalMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listRemainingPesRetour">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listRemainingPesRetour">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listRemainingPesRetourResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchDetails">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listRemainingAcknowledgements">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listRemainingAcknowledgements">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listRemainingAcknowledgementsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="history">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="history">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="historyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadAcknowledgement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downloadAcknowledgement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadAcknowledgementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="download">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="download">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listRemainingSignedDocs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listRemainingSignedDocs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listRemainingSignedDocsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="synchronizeUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="synchronizeUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="synchronizeUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPropertiesByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPropertiesByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExportUsersData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ExportUsersData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExportUsersDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="otpUpload">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="otpUpload">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="otpUploadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="upload">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="upload">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSmsUrl">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSmsUrl">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSmsUrlResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadOTPInformation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadOTPInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadOTPInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadPesRetour">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downloadPesRetour">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadPesRetourResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadBSMS">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadBSMS">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadBSMSResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadPJ">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadPJ">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadPJResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CXFDocumentServiceService">
    <wsdl:port binding="tns:CXFDocumentServiceServiceSoapBinding" name="DocumentPort">
      <soap:address location="https://demo-parapheur.dfast.fr/parapheur-soap/soap/v1/Documents"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>